# Merge data

In [1]:
import pandas as pd
import numpy as np

In [2]:
year = [2011,2012,2013,2014,2015,2016,2017]
frames = []

for y in year:
    for r in range(0,6):
        df = pd.read_csv('data/y'+str(y)+'_r'+str(r))
        df['Year'] = y
        df['Race'] = r
        
        frames.append(df)

In [3]:
df = pd.concat(frames,ignore_index=True)
print(df.shape)

(23623, 15)

In [4]:
# Rearrange columns
cols = df.columns.tolist()
cols = cols[-2:] + cols[:-2]

df = df[cols]
df.tail(3)

,Year,Race,Place,Name,Bib No,Gun Time,Net Time,Category,Categ Pos,Gender,Gender Pos,Club,Lap 1 Time,Lap 2 Time,Lap 3 Time
23620,2017,5,524,Teju Chosen,2867,105.350000,103.866667,LV45,27,Female,220,NaN,36.250000,34.416667,34.633333
23621,2017,5,525,Gerard Hammond,1567,106.066667,85.316667,V50,39,Male,305,NaN,46.783333,NaN,NaN
23622,2017,5,526,Ashilk Vahra,1528,106.066667,83.216667,V40,70,Male,306,NaN,46.733333,29.200000,30.100000

In [5]:
# all looks good - save to csv
df.to_csv('data/race_results', encoding='utf-8')