In [1]:
from BeautifulSoup import BeautifulSoup
import urllib2
import pandas as pd

In [2]:
pageFile = urllib2.urlopen("http://www.regentsparkraces.org/results.php?RaceYear=2017&Race=3")

In [3]:
pageHtml = pageFile.read()

In [49]:
pageFile.close()

In [59]:
soup = BeautifulSoup("".join(pageHtml))

In [62]:
#nonBreakSpace = u'\xa0'
#soup = soup.replaceWith(nonBreakSpace, '')

In [63]:
table = soup.find("table", { "class" : "ResultsTable" })

In [64]:
titles = 3
header = 3

for i,row in enumerate(table.findAll("tr")): 
    columns = row.findAll("td")
    if(i < titles):
        for c in columns:
            print(c.getText())
    elif(i == header):
        clmn = []
        for c in columns:
            clmn.append(c.getText())
        df = pd.DataFrame(columns = clmn,
                          index =range(0,1000))
    else:
        for j,c in enumerate(columns):
            df.iat[i-header,j] = c.text
            
df.head()

Regent's Park Races
Regents Park Summer 10K Series Sunday July 2nd 2017
Overall Finish List

,Place,Name,Bib No,Gun Time,Net Time,Category,Categ Pos,Gender,Gender Pos,Club,Lap 1 Time,Lap 2 Time,Lap 3 Time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,&nbsp;1&nbsp;,&nbsp;Steve Woolley&nbsp;,&nbsp;2303&nbsp;,&nbsp;00:34:37.0&nbsp;,&nbsp;00:34:33&nbsp;,&nbsp;Senior&nbsp;,&nbsp;1&nbsp;,&nbsp;Male&nbsp;,&nbsp;1&nbsp;,&nbsp;West 4 Harriers&nbsp;,&nbsp;00:11:17&nbsp;,&nbsp;00:11:42&nbsp;,&nbsp;00:11:36&nbsp;
2,&nbsp;2&nbsp;,&nbsp;Ben Alexander&nbsp;,&nbsp;1300&nbsp;,&nbsp;00:34:45.0&nbsp;,&nbsp;00:34:41&nbsp;,&nbsp;Senior&nbsp;,&nbsp;2&nbsp;,&nbsp;Male&nbsp;,&nbsp;2&nbsp;,&nbsp;&nbsp;,&nbsp;00:11:17&nbsp;,&nbsp;00:11:43&nbsp;,&nbsp;00:11:43&nbsp;
3,&nbsp;3&nbsp;,&nbsp;Ben Crabb&nbsp;,&nbsp;863&nbsp;,&nbsp;00:34:47.0&nbsp;,&nbsp;00:34:43&nbsp;,&nbsp;V40&nbsp;,&nbsp;1&nbsp;,&nbsp;Male&nbsp;,&nbsp;3&nbsp;,&nbsp;&nbsp;,&nbsp;00:11:21&nbsp;,&nbsp;00:11:38&nbsp;,&nbsp;00:11:46&nbsp;
4,&nbsp;4&nbsp;,&nbsp;Scott Mitchell&nbsp;,&nbsp;2046&nbsp;,&nbsp;00:35:16.0&nbsp;,&nbsp;00:35:15&nbsp;,&nbsp;Senior&nbsp;,&nbsp;3&nbsp;,&nbsp;Male&nbsp;,&nbsp;4&nbsp;,&nbsp;&nbsp;,&nbsp;00:11:18&nbsp;,&nbsp;00:11:54&nbsp;,&nbsp;00:12:02&nbsp;